body {
    background-image: url(screencapture-fightclub-nl-2025-03-21-10_11_57.png);
    background-size: auto;
    height: 98vh;
    width: 99vw;
    align-items: center;
    display: flex;
    position: absolute;
}

body.custom-cursor {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;border-radius:50%;background:conic-gradient(from 90deg at 4px 4px,%230000 90deg, %232f2b2f 0) -4px -4px/calc(50% + 2px) calc(50% + 2px),repeating-radial-gradient(%230000 0 22%,%232f2b2f 23% 32%);" ></div></foreignObject></svg>') 24 24, auto;
}


.openPopup {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50px;
    opacity: 0;
}

.popup {
    display: none;
    border-radius: 2%;
    background-color: rgb(215, 205, 205);
    width: 250px;
    height: 100px;
    margin-left: 43%;
    text-align: center;
    font-size: x-large;
    padding: 1%
}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream

#yes {
    height: 35px;
    width: 60px;
    margin-right: 20px;
    background-color: rgb(0, 224, 0);
    border: none;
    border-radius: 1%;
}

=======
<<<<<<< HEAD
  .DogGif {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Animation transition for opacity */
}

=======
<<<<<<< HEAD
  .DogGif {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Animation transition for opacity */
}

>>>>>>> Stashed changes
=======
<<<<<<< HEAD
  .DogGif {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Animation transition for opacity */
}

>>>>>>> Stashed changes
.hidden {
    display: none;
}

.animate {
    opacity: 1;
    display: block; /* Ensure the element is displayed when the animation starts */
=======

#yes {
    height: 35px;
    width: 60px;
    margin-right: 20px;
    background-color: rgb(0, 224, 0);
    border: none;
    border-radius: 1%;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
#no {
    height: 35px;
    width: 60px;
    margin-left: 20px;
    background-color: red;
    border: none;
    border-radius: 1%;
}

#yes:hover {
    cursor: pointer;
}

#no:hover {
    cursor: pointer;
}

.Dog-Gif {
    position: absolute;
    width: 100px;
    /* Adjust to fit the size of your GIF */
    height: auto;
    transition: transform 5s ease-in-out;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
>>>>>>> 959bced19165a415834a3eb17dc47091a9a8040a
>>>>>>> Stashed changes
=======
>>>>>>> 959bced19165a415834a3eb17dc47091a9a8040a
>>>>>>> Stashed changes
=======
>>>>>>> 959bced19165a415834a3eb17dc47091a9a8040a
>>>>>>> Stashed changes
}